.mainpage
{
    width: 1100px;
    height: 700px;
    text-align: center;
    margin: auto;
    background-color: white;

}

#background
{
    background-image: url("beijing.jpg");
    padding-bottom: 200px;
    width: auto;
    height: auto;
}


.header
{
    float: left;
    width: 90%;
    padding: 5px;
    text-align: center;
    background-color: green;

}
.header_li
{
    margin-right: 50px;
    color: white;
    font: "Bitstream Vera Sans Mono";
}

ul li
     {
       list-style-type:none;
       display:inline;
     }

.left
{
    float: left;
    width: 20%;
    padding: 5px;
}

.middle
{
    float: left;
    width: 50%;
    padding: 5px;
}


.right
{
    float: left;
    width: 20%;
    padding: 5px;
}

#login_info
{
    border: black;
    border-style: solid;
    border-width: 1px;
    padding: 1px;
}

a
{
    color: inherit;

    text-decoration:none
}
#findpassword
{
    text-align: center;

}
#login_create
{
       text-align: center;
}
#denglu_btn
{
    margin: 20px;
}
#zhuce_btn
{
    margin: 20px;
}

ul
{
    padding:5px;
    font-size: 14px;
}

.ul_left
{
    float: left;
}

.ul_right
{
    float: right;
}


#ningmengxianguo
{ text-align: center;
    margin: 30px;
    border-width: 5px;
    width: 50%;
margin:20px;
}

#jidi
{
    text-align: center;
    margin: 30px;
    width: 50%;
    margin:20px;
}

#ningmengxianguo1
{ text-align: center;
    margin:20px;

}

#jidizhanshi
{
    text-align: center;
}

#hua_xian
{
    border: solid;
    border-color: green;
    border-top-color: white;
    /* width: 200px; */
    /* text-align: center; */
    margin: 9px;
    margin-top: 0px;
    border-bottom: solid;
    /* border-right: solid; */
    border-width: 1px;
}

